body{
  background-image: url("Images/spring-grain-concept-agriculture-healthy-eating-organic-food-generative-ai_58409-32489.jpg");
    background-size: cover;
    object-fit: contain;
    overflow: hidden;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

a{
  text-decoration: none;
}
#Log-reg-btn
{
    align-self: flex-start;
    right: 50px;
    position: absolute;
    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: 750;
    background-color: transparent;
    color: white;
    border: 3px solid black;
    border-radius: 8px;
}

#Log-reg-btn:hover{
  
  border: 3px solid white;
}
.popup{
    width: 400px;
    height: 565px;
    border: 6px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
     background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}


.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    display: none;
}
#heading{
  font-size: 35px;
}
p{
  font-size: 20px;
}
#input{
    width: 80%;
    height: 60px;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#input input{
    width: 99%;
    position: absolute;
    align-self: flex-end;
    border: none;
    outline: none;
    bottom: 0;
    background-color: transparent;
    
    
}

#icons
{
   
   width: 100%;
    display: flex;
    justify-content: space-between;
    
}

#login-btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    top:25px;
    background-color: rgb(2, 206, 2);
    color: white;

}
#login-btn:hover{
  background-color: rgba(0, 141, 0, 0.704);
}
#register-box{
    position: relative;
    top: 25px;
}


#icons {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#icons label {
  position: absolute;
  left: 0;
  top: 50%;                        
  transform: translateY(-50%);     
  transition: all 0.25s ease;
  font-size: 16px;
  color: #555;
  pointer-events: none;
}


#icons i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


#input:focus-within #icons label,
#input.filled #icons label {
  top: 15px;                       
  transform: none;                  
  font-size: 12px;                  
  color: dodgerblue;
}


.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    
}

.login {
  display: none; 
}

.login.active {
 display: flex;  
}

.register {
  display: none; 
}

.register.active {
  display: flex; 
}

.popup{
    display: none;
}

.popup.active{
    display: flex;
}

#close{
    position: relative;
    top: 0;
    align-self: flex-end;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    
}

#close i{
    color: red;
}
#close i:hover{
  color: rgb(202, 1, 1);
}
.otp-box {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    top: -85px;
    position: relative;
}

.otp-box{
  display: none;
}
.otp-box.active {
    
    
  display: flex;
   

}

.otp-box input{
  background-color: transparent;
}

#otp-input{
  background-color: transparent;
  border: none;
  border-bottom: 4px solid black;
  outline: none;
  font-size: 16px;
}

#otp-submit{
  background-color: rgb(2, 206, 2);
  color: white;
  width: 80px;
  height: 30px;
  position: relative;
  top: 25px;
  font-size: 18px;

}

#otp-submit:hover{
  background-color: rgba(0, 141, 0, 0.704);
}
